<body
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
  "
>
  <p>Message Details:</p>
  <p>Sent by: <%=message.user %></p>
  <p>Message: <%=message.text %></p>
  <p>Time: <%=message.added.toLocaleString() %></p>
</body>
