<body
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
  "
>
  <form
    style="
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 2px;
    "
    method="POST"
    action="/new"
  >
    <div>
      <label for="user">User: </label>
      <input name="user" type="text" />
    </div>
    <div>
      <label for="message">Message: </label>
      <input name="message" type="text" />
    </div>
    <button type="submit">Submit</button>
  </form>
  <ul>Messages:
  <% messages.forEach((message) => { %>
    <li>
    <%=message.user %> : <%=message.text %>
    </li>
  <% }) %>
  </ul>
</body>
